---

---

<div class="flex items-center gap-x-3 md:gap-x-4">
  <h3
    class="text-festa-500 font-mono text-xl md:text-[60px] md:leading-[100px]"
  >
    <slot />
  </h3>
  <svg
    class="h-4 w-4 md:h-10 md:w-10"
    viewBox="0 0 16 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M1.0001e-07 7.61334L0.222222 7.19307L7.77778 9.27491e-08L8.22222 9.8049e-08L15.7778 7.07118L16 7.49146L16 9.17258L15.7778 9.38272L15.5556 9.38272L9.11111 3.36643L8.88889 3.36643L8.88889 15.7899L8.66667 16L7.33333 16L7.11111 15.7899L7.11111 3.36643L6.88889 3.36643L0.444445 9.5067L0.222222 9.5067L7.99377e-08 9.29656L1.0001e-07 7.61334Z"
      fill="#FF4547"></path>
  </svg>
</div>
