---
import Layout from "../layouts/Layout.astro";
import GalleryComponent from "../components/gallery/GalleryComponent.vue";
import { getCollection } from "astro:content";
// Fetch gallery data from content collection
const galleryData = await getCollection("gallery");
---

<Layout>
  <div class="container mx-auto h-full">
    <GalleryComponent galleryData={galleryData} client:only="vue" />
  </div>
</Layout>
