---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <p class="text-festa-500 font-light">
    Fešta is a leading creative organization in Montenegro, specializing in
    music, event production, and cultural projects. Rooted in electronic music,
    visual arts, and cultural heritage, we transform spaces into unique,
    story-driven events. Our work spans full-scale event production, artist
    booking, stage design, creative direction, and marketing, ensuring a
    seamless blend of creativity and execution.
  </p>
</Layout>
