---
import NavbarDesktop from "./NavbarDesktop.vue";
import NavbarMobile from "./NavbarMobile.vue";
import OtherNavbar from "./OtherNavbar.astro";

const currentPath = Astro.url.pathname;
---

<nav class="fixed top-0 z-50 w-full bg-black shadow-md">
  {
    currentPath === "/" ? (
      <>
        <div class="hidden md:block">
          <NavbarDesktop client:only="vue" />
        </div>

        <div class="block md:hidden">
          <NavbarMobile client:only="vue" />
        </div>
      </>
    ) : (
      <OtherNavbar />
    )
  }
</nav>
