---
import Instagram from "./icons/instagram.astro";
import Facebook from "./icons/facebook.astro";
import Spotify from "./icons/spotify.astro";
import Youtube from "./icons/youtube.astro";
---

<div class="flex items-center justify-between gap-x-9">
  <Instagram />
  <Facebook />
  <Youtube />
  <Spotify />
</div>
