---
import Socials from "../components/socials.astro";
---

<div class="flex flex-col items-center justify-center bg-black py-10">
  <h2 class="letter-spacing-[10%] bg-white px-1 font-mono text-3xl">
    ABOUT US
  </h2>
  <p class="mt-8 px-8 text-center text-xl font-light text-white">
    Fešta is a leading creative organization in Montenegro, specializing in
    music, event production, and cultural projects. Rooted in electronic music,
    visual arts, and cultural heritage,
    <span class="font-bold">
      we transform spaces into unique, story-driven events.
    </span> Our work spans full-scale event production, artist booking, stage design,
    creative direction, and marketing, ensuring a seamless blend of creativity and
    execution.
  </p>
  <p class="mt-8 px-8 text-center text-xl font-light text-white">
    From international festivals to bespoke brand activations,
    <span class="font-bold">
      Fešta creates impactful experiences that engage audiences and redefine
      cultural landscapes.
    </span>
  </p>
  <div class="mt-12">
    <Socials />
  </div>
</div>
