<div
  class="flex min-h-screen items-center justify-center bg-[url('/src/assets/landing.jpeg')] bg-cover bg-center bg-no-repeat md:bg-black"
>
  <h2 class="text-center text-[38px] leading-[38px] font-light text-white">
    WE DON&apos;T<br /> FOLLOW TRENDS.<br />
    <span class="font-bold">WE CREATE<br /> THEM.</span>
  </h2>
</div>
