<a
  href="https://www.facebook.com/festaofficialfb"
  target="_blank"
  class="inline-block cursor-pointer transition-transform duration-200 hover:scale-120"
  aria-label="Facebook"
>
  <svg
    width="30"
    height="30"
    viewBox="0 0 30 30"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M15.0046 7.13017e-07C12.0377 -0.000913873 9.13714 0.878043 6.66979 2.52571C4.20245 4.17337 2.27916 6.51573 1.14314 9.25654C0.00711275 11.9973 -0.29059 15.0135 0.287666 17.9235C0.865921 20.8335 2.29416 23.5067 4.39176 25.605C6.48936 27.7032 9.1621 29.1323 12.0719 29.7114C14.9818 30.2906 17.998 29.9938 20.7392 28.8586C23.4803 27.7235 25.8233 25.8009 27.4717 23.334C29.1201 20.8672 30 17.9669 30 15C30 11.0226 28.4203 7.20794 25.6082 4.39503C22.7962 1.58212 18.9821 0.00122681 15.0046 7.13017e-07ZM18.4263 10.1726H16.808C16.2392 10.1726 16.119 10.4038 16.119 10.9957V12.4245H18.4309L18.209 14.926H16.1236V22.4121H13.155V14.9676H11.6014V12.4337H13.155V10.4362C13.155 8.55888 14.1584 7.5786 16.3918 7.5786H18.4587L18.4263 10.1726Z"
      fill="white"></path>
  </svg>
</a>
