<a
  href="https://www.instagram.com/festa_official_/"
  target="_blank"
  class="inline-block cursor-pointer transition-transform duration-200 hover:scale-120"
  aria-label="Instagram"
>
  <svg
    width="30"
    height="30"
    viewBox="0 0 30 30"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="md:w-[60px] md:h-[60px]"
  >
    <path
      d="M16.6645 16.6648C17.5837 15.7457 17.5836 14.2555 16.6645 13.3364C15.7454 12.4173 14.2552 12.4172 13.3361 13.3364C12.417 14.2555 12.417 15.7457 13.3361 16.6648C14.2552 17.584 15.7454 17.584 16.6645 16.6648Z"
      fill="white"></path>
    <path
      d="M20.5146 10.8386C20.4008 10.5308 20.219 10.2526 19.9828 10.0248C19.7552 9.79154 19.4789 9.61154 19.1736 9.49763C18.7531 9.34151 18.309 9.25862 17.8605 9.25256C17.116 9.22019 16.8895 9.21094 15.0029 9.21094C13.1164 9.21094 12.8944 9.21094 12.15 9.25256C11.7015 9.25862 11.2573 9.34151 10.8368 9.49763C10.5307 9.61268 10.2531 9.79249 10.023 10.0248C9.78299 10.2522 9.59662 10.5302 9.47736 10.8386C9.32125 11.2591 9.23835 11.7032 9.23228 12.1518C9.19992 12.8962 9.19531 13.1182 9.19531 15.0047C9.19531 16.8913 9.19529 17.1132 9.23228 17.8577C9.2394 18.3031 9.32229 18.744 9.47736 19.1616C9.59337 19.4672 9.77287 19.7448 10.004 19.9759C10.2352 20.207 10.5127 20.3865 10.8183 20.5026C11.2388 20.6587 11.683 20.7416 12.1315 20.7476C12.8759 20.78 13.0979 20.7892 14.9844 20.7892C16.8709 20.7892 17.0975 20.7892 17.842 20.7476C18.2905 20.7416 18.7346 20.6587 19.1552 20.5026C19.4613 20.3903 19.738 20.2101 19.9643 19.9754C20.2005 19.7476 20.3823 19.4694 20.4961 19.1616C20.6477 18.74 20.7289 18.2964 20.7365 17.8484C20.7735 17.104 20.7781 16.882 20.7781 14.9955C20.7781 13.1089 20.7781 12.887 20.7365 12.1425C20.7338 11.6987 20.6589 11.2583 20.5146 10.8386ZM15.026 18.6299C14.3072 18.6344 13.6031 18.4255 13.0032 18.0294C12.4032 17.6334 11.9344 17.0681 11.6561 16.4052C11.3779 15.7424 11.3027 15.0119 11.4401 14.3062C11.5775 13.6006 11.9214 12.9517 12.4281 12.4417C12.9348 11.9318 13.5815 11.5838 14.2862 11.4418C14.991 11.2999 15.722 11.3704 16.3866 11.6445C17.0512 11.9185 17.6194 12.3837 18.0193 12.9811C18.4192 13.5785 18.6326 14.2812 18.6327 15.0001C18.6327 15.9588 18.2534 16.8785 17.5777 17.5586C16.902 18.2386 15.9847 18.6238 15.026 18.6299ZM18.7991 12.0778C18.6306 12.0787 18.4657 12.0296 18.3252 11.9366C18.1847 11.8437 18.0749 11.7112 18.0098 11.5558C17.9447 11.4004 17.9272 11.2292 17.9595 11.0638C17.9918 10.8985 18.0725 10.7465 18.1913 10.627C18.3101 10.5076 18.4616 10.4261 18.6268 10.3929C18.792 10.3597 18.9633 10.3762 19.119 10.4405C19.2747 10.5048 19.4079 10.6138 19.5016 10.7538C19.5953 10.8938 19.6453 11.0585 19.6453 11.227C19.6459 11.3405 19.6238 11.4529 19.5801 11.5576C19.5364 11.6624 19.4721 11.7573 19.391 11.8366C19.3099 11.916 19.2136 11.9783 19.108 12.0197C19.0023 12.0611 18.8894 12.0809 18.776 12.0778H18.7991Z"
      fill="white"></path>
    <path
      d="M15.023 1.78253e-05C12.0553 -0.00455632 9.15298 0.871292 6.68322 2.51673C4.21346 4.16217 2.2873 6.50325 1.14844 9.24373C0.00959084 11.9842 -0.290745 15.0009 0.285415 17.9122C0.861576 20.8234 2.28834 23.4983 4.38519 25.5984C6.48204 27.6985 9.15472 29.1294 12.065 29.7101C14.9754 30.2907 17.9925 29.995 20.7347 28.8604C23.477 27.7258 25.821 25.8032 27.4702 23.336C29.1195 20.8687 29.9998 17.9677 29.9998 15C29.9998 11.0258 28.4226 7.21396 25.6146 4.40158C22.8066 1.5892 18.9972 0.00614336 15.023 1.78253e-05ZM22.0467 17.9131C22.037 18.4996 21.9259 19.0799 21.7184 19.6286C21.541 20.1002 21.2633 20.5278 20.9046 20.8816C20.5516 21.2414 20.1238 21.5193 19.6515 21.6955C19.1022 21.9005 18.5223 22.0115 17.9361 22.0238C17.1824 22.0561 16.9419 22.0654 15.023 22.0654C13.1041 22.0654 12.8637 22.0654 12.11 22.0238C11.5239 22.0106 10.9441 21.8996 10.3945 21.6955C9.92422 21.518 9.4982 21.2403 9.14604 20.8816C8.78742 20.5267 8.50845 20.0996 8.32763 19.6286C8.1248 19.0786 8.01388 18.499 7.99933 17.9131C7.96696 17.1594 7.9577 16.9189 7.9577 15C7.9577 13.0811 7.95771 12.8406 7.99933 12.0869C8.01388 11.501 8.1248 10.9214 8.32763 10.3715C8.50845 9.90045 8.78742 9.47329 9.14604 9.11839C9.4982 8.75974 9.92422 8.48204 10.3945 8.30458C10.9441 8.10043 11.5239 7.98947 12.11 7.97628C12.8637 7.94391 13.1041 7.93467 15.023 7.93467C16.9419 7.93467 17.1824 7.93467 17.9361 7.97628C18.5223 7.98851 19.1022 8.0995 19.6515 8.30458C20.1238 8.48077 20.5516 8.75859 20.9046 9.11839C21.2633 9.47227 21.541 9.89981 21.7184 10.3715C21.9259 10.9201 22.037 11.5005 22.0467 12.0869C22.0837 12.8406 22.0883 13.0811 22.0883 15C22.0883 16.9189 22.0606 17.1594 22.0236 17.9131H22.0467Z"
      fill="white"></path>
  </svg>
</a>
