<a
  href="https://www.youtube.com/@festa_official"
  target="_blank"
  class="inline-block cursor-pointer transition-transform duration-200 hover:scale-120"
  aria-label="Spotify"
>
  <svg
    width="30"
    height="30"
    viewBox="0 0 30 30"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M19.0819 15.5087C17.8464 14.8112 16.4847 14.3662 15.0757 14.1995C13.6667 14.0328 12.2387 14.1478 10.8745 14.5377C10.7402 14.5861 10.6297 14.6845 10.566 14.8123C10.5024 14.9401 10.4904 15.0876 10.5327 15.224C10.575 15.3604 10.6683 15.4753 10.7931 15.5447C10.9179 15.614 11.0647 15.6326 11.2029 15.5966C12.4088 15.247 13.6724 15.1414 14.9196 15.2859C16.1669 15.4304 17.3728 15.8221 18.467 16.4381C18.5288 16.4774 18.598 16.5037 18.6703 16.5157C18.7426 16.5276 18.8165 16.5248 18.8877 16.5076C18.9589 16.4903 19.0259 16.4589 19.0847 16.4152C19.1435 16.3715 19.1929 16.3164 19.2299 16.2532C19.2723 16.1957 19.3023 16.13 19.3179 16.0603C19.3335 15.9905 19.3343 15.9183 19.3204 15.8482C19.3065 15.7782 19.2781 15.7118 19.237 15.6533C19.196 15.5948 19.1431 15.5456 19.0819 15.5087Z"
      fill="white"></path>
    <path
      d="M18.1762 17.6264C16.2758 16.4612 13.8667 16.2022 11.097 16.8265C10.9828 16.858 10.8851 16.9322 10.824 17.0338C10.7629 17.1353 10.7431 17.2564 10.7687 17.3721C10.8003 17.4863 10.8745 17.584 10.976 17.6451C11.0776 17.7062 11.1987 17.726 11.3144 17.7004C13.8667 17.1178 16.0215 17.3351 17.7369 18.394C17.7864 18.4467 17.8476 18.487 17.9155 18.5118C17.9834 18.5365 18.0562 18.545 18.128 18.5366C18.1998 18.5281 18.2686 18.5029 18.3289 18.4631C18.3892 18.4232 18.4393 18.3698 18.4752 18.307C18.5111 18.2443 18.5318 18.174 18.5357 18.1018C18.5395 18.0296 18.5263 17.9575 18.4972 17.8914C18.4682 17.8252 18.424 17.7667 18.3682 17.7207C18.3125 17.6747 18.2467 17.6424 18.1762 17.6264Z"
      fill="white"></path>
    <path
      d="M19.997 13.0671C17.2967 11.4626 13.0288 11.3146 10.4394 12.0822C10.272 12.1374 10.1325 12.2556 10.0505 12.4118C9.96855 12.568 9.9505 12.7499 10.0002 12.9191C10.0574 13.0863 10.1766 13.2251 10.3332 13.3068C10.4898 13.3886 10.6719 13.407 10.8417 13.3584C13.0658 12.6648 16.9684 12.8128 19.3034 14.1953C19.4555 14.2731 19.6293 14.2977 19.797 14.265C19.9647 14.2323 20.1165 14.1442 20.2282 14.015C20.3199 13.8578 20.347 13.6712 20.3039 13.4944C20.2608 13.3176 20.1508 13.1644 19.997 13.0671Z"
      fill="white"></path>
    <path
      d="M14.9999 0C12.0332 0 9.13314 0.879737 6.66642 2.52796C4.1997 4.17618 2.27711 6.51886 1.1418 9.25975C0.00649436 12.0006 -0.290547 15.0166 0.288227 17.9264C0.867001 20.8361 2.29559 23.5088 4.39337 25.6066C6.49114 27.7044 9.16389 29.133 12.0736 29.7118C14.9833 30.2906 17.9992 29.9935 20.7401 28.8582C23.481 27.7229 25.8236 25.8003 27.4718 23.3336C29.1201 20.8668 29.9998 17.9667 29.9998 15C29.9985 11.0221 28.4178 7.20753 25.6051 4.39475C22.7923 1.58197 18.9777 0.00122566 14.9999 0ZM14.9999 22.2965C13.5568 22.2965 12.1461 21.8686 10.9462 21.0669C9.74629 20.2651 8.81107 19.1255 8.25881 17.7923C7.70656 16.459 7.56208 14.9919 7.84361 13.5765C8.12515 12.1611 8.82005 10.861 9.84049 9.84056C10.8609 8.82012 12.161 8.12519 13.5764 7.84365C14.9918 7.56211 16.4589 7.70661 17.7921 8.25887C19.1254 8.81113 20.265 9.74635 21.0667 10.9463C21.8685 12.1462 22.2964 13.5569 22.2964 15C22.297 15.9584 22.1087 16.9075 21.7422 17.793C21.3758 18.6785 20.8383 19.4831 20.1607 20.1608C19.483 20.8385 18.6784 21.3759 17.7929 21.7424C16.9073 22.1088 15.9582 22.2971 14.9999 22.2965Z"
      fill="white"></path>
  </svg>
</a>
