<a
  href="https://www.instagram.com/festa_official_/"
  target="_blank"
  class="inline-block cursor-pointer transition-transform duration-200 hover:scale-120"
  aria-label="YouTube"
>
  <svg
    width="30"
    height="30"
    viewBox="0 0 30 30"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M17.1441 14.9214L13.2924 12.9747C13.2694 12.9615 13.2434 12.9546 13.2169 12.9548C13.1904 12.9551 13.1645 12.9624 13.1418 12.9761C13.1191 12.9898 13.1005 13.0094 13.0879 13.0327C13.0754 13.0561 13.0694 13.0823 13.0704 13.1088V16.8958C13.0699 16.9222 13.0763 16.9482 13.0889 16.9714C13.1015 16.9945 13.1198 17.0141 13.1421 17.028C13.1645 17.042 13.1901 17.0499 13.2164 17.0511C13.2427 17.0522 13.2689 17.0465 13.2924 17.0345L17.1395 15.185C17.1617 15.1711 17.18 15.1519 17.1929 15.1291C17.2058 15.1063 17.2128 15.0806 17.2133 15.0544C17.2137 15.0282 17.2077 15.0024 17.1956 14.9791C17.1835 14.9559 17.1658 14.9361 17.1441 14.9214Z"
      fill="white"></path>
    <path
      d="M14.986 6.41473e-06C12.0199 0.00274944 9.12118 0.884815 6.65629 2.5347C4.19139 4.18459 2.271 6.52823 1.13782 9.26936C0.00464242 12.0105 -0.290419 15.0261 0.289921 17.9349C0.870261 20.8437 2.29993 23.5151 4.39825 25.6115C6.49657 27.7079 9.16932 29.1351 12.0786 29.7128C14.9879 30.2904 18.0032 29.9926 20.7433 28.8569C23.4833 27.7211 25.8252 25.7985 27.4728 23.3321C29.1204 20.8657 29.9997 17.9661 29.9998 15C29.9998 13.029 29.6113 11.0773 28.8566 9.25655C28.102 7.43576 26.9958 5.78156 25.6015 4.3885C24.2071 2.99544 22.5519 1.89084 20.7305 1.13783C18.909 0.384828 16.957 -0.00181633 14.986 6.41473e-06ZM22.0189 17.0576C22.0189 17.8327 21.711 18.576 21.163 19.124C20.615 19.6721 19.8717 19.98 19.0966 19.98H10.8707C10.0957 19.98 9.35241 19.6721 8.80438 19.124C8.25634 18.576 7.94846 17.8327 7.94846 17.0576V12.9424C7.94846 12.1673 8.25634 11.424 8.80438 10.876C9.35241 10.3279 10.0957 10.02 10.8707 10.02H19.0966C19.8717 10.02 20.615 10.3279 21.163 10.876C21.711 11.424 22.0189 12.1673 22.0189 12.9424V17.0576Z"
      fill="white"></path>
  </svg>
</a>
